<div class="container-fluid voffset" >
  <div class="container">
    <h1>Sign In</h1>

    <%= form_tag signin_path do |f| %>

    <% if @sign_in_error %>
    <p class="alert alert-danger">
      <%= @sign_in_error %>
    </p>
    <% end %>

    <div>
      <%= label_tag :email %>
    </div>
    <div>
      <%= email_field_tag :email %>
    </div>

    <div>
      <%= label_tag :password %>
    </div>
    <div>
      <%= password_field_tag :password %>
    </div>

    <div>
      <%= submit_tag "Sign in", class: "btn btn-primary" %>
    </div>

    <% end %>
  </div>
</div>
