<h2>
  <%= @vendor.name %>
</h2>

<ul>
  <li><%= @vendor.description %></li>
  <li><%= @vendor.email_biz %></li>
  <li><%= @vendor.email_finance %></li>
  <li><%= @vendor.address %></li>
  <li><%= @vendor.city %></li>
  <li><%= @vendor.state %></li>
  <li><%= @vendor.zipcode %></li>
  <li><%= @vendor.country %></li>
  <li><%= @vendor.phone %></li>
</ul>
