<h1>ModelMailer#po_notification</h1>

<p>
  <%= @greeting %>, find me in app/views/model_mailer/po_notification.html.erb
  This is a product:
  <ul>
    <li> <%= @product.name %>  </li>
    <li> <%= @product.description %>  </li>
    <li> <%= @product.quantity %>  </li>
    <li> <%= @product.moq %>  </li>
  </ul>

</p>
