<div class="container">
  <h2 class='page-header'>
    Vendor Name: <%= @vendor.name %>
  </h2>

  <div class="row voffset">
    <dl class="dl-horizontal">
      <dt>Description:</dt> <dd><%= @vendor.description %></dd>
      <dt>Business Email:</dt> <dd><%= @vendor.email_biz %></dd>
      <dt>Finance Email:</dt> <dd><%= @vendor.email_finance %></dd>
      <dt>Street Address:</dt> <dd><%= @vendor.address %></dd>
      <dt>City:</dt> <dd><%= @vendor.city %></dd>
      <dt>State:</dt> <dd><%= @vendor.state %></dd>
      <dt>Zipcode:</dt> <dd><%= @vendor.zipcode %></dd>
      <dt>Country:</dt> <dd><%= @vendor.country %></dd>
      <dt>Phone:</dt> <dd><%= @vendor.phone %></dd>
      <dt>Products offered:</dt>
      <dd class='products-panel'>
        <% @vendor.products.each do |product| %>
        <div><%= link_to product.name, product_path(product) %><div>
          <div class="col-md-3">
            <%= image_tag product.image.url, class: "img-rounded img-responsive", alt: "image" %>
          </div>

          <% end %>
        </dd>
      </dl>
    </div>

    <%= link_to 'Edit', edit_admin_vendor_path(@vendor), class: "btn btn-success" %>
    <%= link_to 'Delete', admin_vendor_path(@vendor), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
