<div class="container voffset">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="input-group">
        <%= link_to 'Apply as Seller', new_admin_vendor_path, class: "btn btn-primary" %>

        <h1 class="page-header">Products</h1>

      </div> <!-- /input-group -->
    </div> <!-- /.col-md-8 -->

    <div class="visible-xs-block"></div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="input-group">
        <%= form_tag(products_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="input-append">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for.." %>
          <button class="btn btn-primary form-control" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        <% end %>
      </div> <!-- /input-group -->
    </div> <!-- /.col-md-8 -->
  </div> <!-- /.row -->

  <div class="container">
    <div id="masonry-container">
      <% @products.each do |product| %>
      <div class="box">
        <img src="<%= product.etsy_image_url %>" alt="image" />
        <h3><%= product.name.truncate(30) %></h3>
        <h6>Made by: <%= link_to product.vendor.name, admin_vendor_path(product.vendor) %></h6>
        <!-- <h5><%= product.price %> USD</h5> -->
        <p><%= product.description.truncate(90) %></p>
        <div><%= render "product_row", product: product, order_item: @order_item %></div>
      </div>
      <% end %>
    </div>
  </div>
