<div class="page-header">
  <h3>
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Delete', product_path, method: :delete %>
  </h3>
</div>

<div class="container-fluid">
  <div class="content-wrapper">
    <div class="item-container">
      <div class="container">
        <div class="col-md-5">
          <div class=" col-md-3 service-image-left">
            <center>
              <%= image_tag @product.image.url, :class => "img-rounded" %>
            </center>
          </div>
        </div>

        <div class="col-md-7">
          <div class="product-title"><%= @product.name %></div>

          <div class="product-desc"><%= @product.description %></div>

          <hr>

          <div class="product-price list-inline">
            <li>Quantity <%= @product.quantity %> units</li>
            <li><%= number_to_currency(@product.price) %>/unit</li>
            <li>Minimum Order <%= @product.moq %> units</li>
          </div>

          <div class="product-info">
            <% if @product.brand != "" %>
              <label>Brand:</label> <%= @product.brand %> <br>
            <% end %>
            <% if @product.sku != "" %>
              <label>SKU:</label> <%= @product.sku %> <br>
            <% end %>
            <% if @product.mfr != "" %>
              <label>Manufacturer:</label> <%= @product.mfr %> <br>
            <% end %>
            <% if @product.msrp != "" %>
              <label>MSRP:</label> <%= @product.msrp %> <br>
            <% end %>
            <% if @product.category1 != "" && @product.category2 != "" %>
              <label>Categories:</label>
              <span class="list-inline">
                <li><%= @product.category1 %></li>
                <li><%= @product.category2 %></li>
              </span> <br>
            <% end %>
            <% if @product.upc != nil %>
              <label>UPC:</label> <%= @product.upc %> <br>
            <% end %>
            <% if @product.restrictions != "" %>
              <label>Restrictions:</label> <%= @product.restrictions %> <br>
            <% end %>
            <% if @product.warehouse_zip != "" %>
              <label>Warehouse Zipcode:</label> <%= @product.warehouse_zip %> <br>
            <% end %>
            <% if @product.warranty != "" %>
              <label>Warranty:</label> <%= @product.warranty %> <br>
            <% end %>

            <%= link_to @product.link1_title, @product.link1 %> <br>
            <%= link_to @product.link2_title, @product.link2 %> <br>
          </div>

          <div class="product-stock">Available <%= @product.when_ready %>
            <span id="reserve-button">
              <button type="button" class="btn btn-success" id="reserve">
                Reserve
              </button>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
