<div class="page-header">
  <h3>
    <%= @product.name %>
    <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Delete', product_path, method: :delete %>
  </h3>
</div>

<%= render 'product' %>

<div id='reserve-button'>
  <button id='reserve'>Reserve</button>
</div>
<!-- <%= button_to "Reserve", action: 'reserve_product' %> -->
<!-- <button id='send'>This button to send email</button> -->
