<h3>
  <%= @product.name %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to 'Delete', product_path, method: :delete %>
</h3>

<%= image_tag @product.image.url %>
<ul>
  <p><%= @product.description %></p>
  <p><%= @product.quantity %></p>
  <p><%= number_to_currency(@product.price) %></p>
  <p><%= @product.moq %></p>
  <p><%= @product.when_ready %></p>
  <p><%= @product.brand %></p>
  <p><%= @product.sku %></p>
  <p><%= @product.mfr %></p>
  <p><%= number_to_currency(@product.msrp) %></p>
  <p><%= @product.vendor %></p>
  <p><%= @product.category1 %></p>
  <p><%= @product.category2 %></p>
  <p><%= @product.upc %></p>
  <p><%= @product.restrictions %></p>
  <p><%= @product.warehouse_zip %></p>
  <p><%= @product.warranty %></p>
  <p><%= @product.link1 %></p>
  <p><%= @product.link1_title %></p>
  <p><%= @product.link2 %></p>
  <p><%= @product.link2_title %></p>
</ul>
