<!DOCTYPE html>
<html>
<head>
  <title>Cassim</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- <div class="container"> -->

  <div class="container-fluid">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to 'Cassim', products_path, class: "navbar-brand" %>
            <%= link_to 'Products', products_path, class: "nav navbar-text" %>
            <%= link_to 'Vendors', admin_vendors_path, class: "nav navbar-text" %>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <p class="navbar-text navbar-right">Signed in as <%= link_to current_user.email, user_path(current_user.id), class:"navbar-link" %></p>
            <li><%= link_to "Sign Out", signout_path %></li>
            <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
  </div> <!-- /.container-fluid -->

  <div class="container-fluid">
      <% if notice %>
      <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>
  </div>

  <div class="container-fluid voffset">
      <%= yield %>
  </div>

  </body>
</html>
