<!DOCTYPE html>
<html>
<head>
  <title>Distributd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Distribu.td', products_path, class: "navbar-brand" %>
          <%= link_to 'Products', products_path, class: "nav navbar-text" %>
          <%= link_to 'Vendors', vendors_path, class: "nav navbar-text" %>
          <%= link_to 'Users', users_path, class: "nav navbar-text" %>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <p class="navbar-text navbar-right">Signed in as <%= link_to current_user.email, user_path(current_user.id), class:"navbar-link" %></p>
          <li><%= link_to "Sign Out", signout_path %></li>
          <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Sign In", signin_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div><!-- /.container-fluid -->

  <div class="container-fluid">
    <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>
  </div>
  <head>
    <title>Simple Search Form</title>
  </head>
  <body>
  </body>
  <div class="container-fluid" id="yield">
    <!-- When submit the form, the view rendered will be the index view of our articles resource -->
    <%= form_tag(products_path, :method => "get", class: "navbar-form", id: "search-form") do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search" %>
        <button class="button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
