<!DOCTYPE html>
<html>
<head>
  <title>Distributd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <ul class="nav navbar-nav navbar-right">
    <% if current_user %>
      <li><%= link_to "#{current_user.email}", user_path(current_user.id) %></li>
      <li><%= link_to "Sign Out", signout_path %></li>
    <% else %>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Sign In", signin_path %></li>
    <% end %>
  </ul>

  <div class="container">
    <% if notice %>
       <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>
  </div>

</div>
  <%= yield %>

</body>
</html>
